@charset "UTF-8";
section{background-color: beige;}
h1{
    color: brown;
    margin-bottom: 1em;
}
em{font-weight: bold;}
p.tanaka{
    padding: 20px;
    box-sizing: content-box;
    width: 300px;
}
img{
    float: right;
}
div.imgSmall img{
    width: 200px;
}
p.bold{
    margin: auto;
}
@media screen and (max-width: 480px)